@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer base {
    body {
        @apply bg-background font-brand text-primary;
    }
    header {
        @apply bg-secondary;
    }
    nav {
        @apply flex justify-between items-center px-3 py-2 max-w-screen-xl mx-auto;
        h2 {
            @apply text-primary;
        }
    }
    main {
        @apply mx-auto;
    }
    section {
        @apply max-w-screen-xl mx-auto min-h-[calc(100vh-340px)];
    }
    p {
        @apply text-xs;
    }
    a {
        @apply hover:font-bold underline-offset-4;
    }
    h1 {
        @apply text-4xl tracking-wide;
    }
    h2 {
        @apply font-bold text-2xl tracking-wide;
    }
    button {
        @apply text-primary font-bold hover:text-background trans;
    }
    ul {
        @apply text-xs font-light;
    }
    li {
        @apply px-3 py-3 border-b border-primary border-opacity-50 hover:bg-accent hover:cursor-pointer trans;
    }
    footer {
        @apply flex gap-4 justify-center items-center max-w-screen-xl mx-auto h-12 px-3 py-3 border-t border-primary border-opacity-50;
    }
}

@layer components {
}

@layer utilities {
    .trans {
        @apply transition ease-in-out delay-75;
    }
}

.dropdown-menu-arrow::before {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(95% - 12px);
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent #e297e8 transparent;
}

.gradient {
    background-image: linear-gradient(
        to bottom,
        #8a1692,
        #551653,
        #340e33,
        #0a050a
    );
    height: 225px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #69e228;
    -webkit-box-shadow: 0 0 0px 1000px #1e293b inset;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(transparent, #8a1692, transparent);
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    @apply bg-background border-primary focus:outline-none focus:border-accent focus:ring-0 selection:bg-secondary text-sm font-light tracking-wide m-0 !rounded-md;
}

textarea {
    @apply h-52 border-l-0 !rounded-l-none !m-0;
}

#gist-wrapper div {
    @apply w-full rounded-none;
}
