<button
  type="button"
  id={@id}
  phx-click={@click}
  class="flex justify-center w-9 rounded-md p-2 border-[1px] border-primary hover:border-background bg-background "
>
  <img src="/images/user-image.svg" alt="Profile Image" class="h-4 w-4" />
</button>
