<button
  type="button"
  id="user-menu-button"
  phx-click={@click}
  class="rounded-full p-2 border-[1px] border-primary hover:border-background bg-background before:content-['\21AF'] before:absolute before:text-2xl before:bottom-0 before:right-9 trans"
>
  <img src="/images/user-image.svg" alt="Profile Image" class="h-4 w-4" />
</button>
