<footer>
  <div class="flex gap-4 justify-center items-center w-full mx-auto h-12 py-3 border-t border-secondary border-opacity-50 ">
    <p class="mr-auto">© 2024</p>
    <a href={~p"/"}>
      <p>Terms</p>
    </a>
    <a href={~p"/"}>
      <p>Privacy</p>
    </a>
    <a href={~p"/"}>
      <p>About</p>
    </a>
  </div>
</footer>
