<div class="flex gap-2 items-center ">
  <input
    type="text"
    class="rounded-md focus:outline-none border-primary focus:border-accent focus:ring-0 px-3 py-2 bg-background text-text text-xs font-light"
    placeholder="Search..."
  />
  <button>All gists</button>
</div>
